* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: black;
  color: white;
  overflow: auto;
}

.sidebar header {
  position: relative;
}

.sidebar header h3 {
  text-align: center;
  padding: 20px 0;
}

.sidebar header .admin-pic {
  width: 70px;
  margin: 0 auto;
}

.sidebar header p {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar header p span {
  color: #acacac;
  display: block;
}

.sidebar .sidebar-list {
  display: block;
  padding-top: 15px;
  font-size: 18px;
}

.sidebar .sidebar-list a {
  display: block;
  padding: 15px;
  border-left: 5px solid transparent;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.sidebar .sidebar-list a:hover {
  text-decoration: none;
  border-left: 5px solid white;
  background-color: #121212;
  color: #bbbbbb;
}

.sidebar .sidebar-list a i {
  margin-right: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.my-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #121212;
  padding: 10px;
  text-align: center;
}

.my-navbar a:hover {
  text-decoration: none;
}

.my-navbar div, .my-navbar form {
  display: inline;
}

.my-navbar div {
  padding: 10px;
}

.my-navbar .nav-logo a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.my-navbar .nav-logo a h5 {
  display: inline;
}

.my-navbar .nav-search form input {
  background-color: #0a0a0a;
  border: none;
  padding: 10px 25px;
  border-radius: 500px;
  color: white;
}

.my-navbar .nav-search form input:focus {
  border: none;
  outline: none;
}

.my-navbar .nav-search i {
  color: white;
  padding: 13px;
  background-color: black;
  border-radius: 50%;
  margin-left: -48px;
  cursor: pointer;
}

.my-navbar .nav-dropdowns {
  color: white;
  cursor: pointer;
}

.my-navbar .nav-dropdowns i {
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
  padding: 14px;
}

.my-navbar .vertical-line {
  height: 100%;
  width: 10px;
  padding: .5px;
  background-color: white;
  margin: 0 10px;
}

.my-navbar .account {
  position: relative;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.my-navbar .account .nav-pic {
  width: 40px;
}

.my-navbar .account h6 {
  display: inline;
  padding: 0 10px;
  color: white;
}

.my-navbar .account a {
  color: #bbbbbb;
}

.my-navbar .account:hover .hover-links {
  display: inline;
}

.my-navbar .hover-links {
  display: none;
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  left: 0;
  top: 50px;
  text-align: left;
}

.my-navbar .hover-links a {
  display: block;
  padding: 10px;
}

.content {
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 100%;
  padding: 20px;
}

._shadow {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 25px;
  padding: 20px;
}

.orders-data {
  padding: 30px;
  text-align: center;
}

.orders-data i {
  font-size: 25px;
}

.orders-data h1 {
  font-size: 90px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=style.css.map */