* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

ul li {
  list-style: none;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: black;
  color: white;
  overflow: auto;
}

.sidebar header {
  position: relative;
}

.sidebar header h3 {
  text-align: center;
  padding: 20px 0;
}

.sidebar header .admin-pic {
  width: 70px;
  margin: 0 auto;
}

.sidebar header p {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar header p span {
  color: #acacac;
  display: block;
}

.sidebar .sidebar-list {
  display: block;
  padding-top: 15px;
  font-size: 18px;
}

.sidebar .sidebar-list a {
  display: block;
  padding: 15px;
  border-left: 5px solid transparent;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.sidebar .sidebar-list a:hover {
  text-decoration: none;
  border-left: 5px solid white;
  background-color: #121212;
  color: #bbbbbb;
}

.sidebar .sidebar-list a i {
  margin-right: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

._navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #121212;
  opacity: 100%;
  padding: 10px;
  text-align: center;
  z-index: 100;
}

._navbar a:hover {
  text-decoration: none;
}

._navbar div, ._navbar form {
  display: inline;
}

._navbar div {
  padding: 10px;
}

._navbar .nav-logo a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

._navbar .nav-logo a h5 {
  display: inline;
}

._navbar .nav-search form input {
  background-color: #0a0a0a;
  border: none;
  padding: 10px 25px;
  border-radius: 500px;
  color: white;
}

._navbar .nav-search form input:focus {
  border: none;
  outline: none;
}

._navbar .nav-search i {
  color: white;
  padding: 13px;
  background-color: black;
  border-radius: 50%;
  margin-left: -48px;
  cursor: pointer;
}

._navbar .nav-dropdowns {
  color: white;
  cursor: pointer;
}

._navbar .nav-dropdowns i {
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
  padding: 14px;
}

._navbar .vertical-line {
  height: 100%;
  width: 10px;
  padding: .5px;
  background-color: white;
  margin: 0 10px;
}

._navbar .account {
  position: relative;
  -webkit-transition: .3s all;
  transition: .3s all;
}

._navbar .account .nav-pic {
  width: 40px;
}

._navbar .account h6 {
  display: inline;
  padding: 0 10px;
  color: white;
}

._navbar .account a {
  color: #bbbbbb;
}

._navbar .account:hover .hover-links {
  display: inline;
}

._navbar .hover-links {
  display: none;
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  left: 0;
  top: 50px;
  text-align: left;
}

._navbar .hover-links a {
  display: block;
  padding: 10px;
}

.content {
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 100%;
  padding: 20px;
}

._shadow {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 25px;
  padding: 20px;
}

.user-data {
  margin-top: 10px;
}

.orders-data {
  padding: 30px;
  text-align: center;
}

.orders-data i {
  font-size: 20px;
}

.orders-data h1 {
  font-size: 60px;
}

._btn {
  text-align: center;
  display: block;
  width: 100%;
}

._btn a {
  color: white;
  padding: 15px 80px;
  border-radius: 500px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

._btn a:hover {
  text-decoration: none;
}

._btn-black {
  background-color: #121212;
}

._btn-black:hover {
  color: white;
  background-color: #0a0a0a;
}

.workers-stats {
  font-size: 20px;
  line-height: 40px;
  padding: 20px 40px;
}

.time-stats {
  padding: 20px 40px;
  text-align: center;
}

.time-stats h4 {
  text-align: left;
}

.time-stats h1 {
  font-size: 50px;
}

.time-stats .chart-image {
  margin: 0 auto;
}

.time-stats .chart-image img {
  width: 250px;
}

.u-margin-top-huge {
  margin-top: 50px;
}

.u-margin-top-large {
  margin-top: 40px;
}

.u-margin-top-medium {
  margin-top: 30px;
}

.u-margin-top-small {
  margin-top: 20px;
}

.u-margin-top-tiny {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */