$color-gray-1: #121212;
$color-gray-2: #0a0a0a;


*{
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}


.sidebar 
{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: black;

    color: white;

    overflow: auto;

    header 
    {
        position: relative;
        h3 
        {
            text-align: center;
            padding: 20px 0;
        }
        .admin-pic 
        {
            width: 70px;
            margin: 0 auto;
        }
        p 
        {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            span 
            {
                color: rgb(172, 172, 172);
                display: block;
            }
        }
    }

    .sidebar-list 
    {
        display: block;
        padding-top: 15px;
        font-size: 18px;
        a 
        {
            display: block;
            padding: 15px;
            border-left: 5px solid transparent;
            transition: .3s all;
            &:hover 
            {
                text-decoration: none;
                border-left: 5px solid white;
                background-color: #121212;
                color: rgb(187, 187, 187);
            }

            i 
            {
                margin-right: 10px;
            }
        }
    }

    a 
    {
        text-decoration: none;
        color: white;
    }
    
}


.my-navbar 
{
    a 
    {
        &:hover 
        {
            text-decoration: none;
        }
    }
    position: relative;
    background-color: $color-gray-1;
    padding: 8px 0;
    div, form
    {
        display: inline;
    }
    div 
    {
        padding: 10px;
    }
    .nav-logo a
    {
        color: white;
        text-decoration: none;
        padding-left: 10px;
        h5 
        {
            display: inline;
        }
    }
    .nav-search 
    {
        form input 
        {
            background-color: $color-gray-2;
            border: none;
            padding: 10px 25px;
            border-radius: 500px;
            color: white;
            &:focus 
            {
                border: none;
                outline: none;
            }
        }
        i 
        {
            color: white;
            padding: 13px;
            background-color: black;
            border-radius: 50%;
            margin-left: -48px;
            cursor: pointer;
        }
    }
    .nav-dropdowns 
    {
        color: white;
        cursor: pointer;
        i 
        {
            border-radius: 50%;
            background-color: black;
            margin-right: 10px;
            padding: 14px;
        }
    }
    .vertical-line
    {
        height: 100%;
        width: 10px;
        padding: .5px;
        background-color: white;
        margin: 0 10px;
    }
    .account 
    {
        .nav-pic 
        {
            width: 40px;
        }
        h6 
        {
            display: inline;
            padding: 0 10px;
            color: white;
        }
        a 
        {
            color: rgb(187, 187, 187);
        }
    }
}
